.ArticleItem {
    padding: 1.4rem;
    margin: 0.4rem;
    border: 1px solid black;
    border-radius: 4px;
    min-width: 200px;
    height: 120px;
}

.selected {
    background-color: aqua;
}

.darkened {
    opacity: 0.4;;
    border: 1px dashed black;
}