.Article-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  font-size: 1.1rem;
  padding: 0.3rem;
}

#article-subject {
  height: 60px;
  width: 60%;
  resize: none;
}

#article-body {
  height: 300px;
  width: 60%;
  resize: none;
  background-color: black;
  color: #49eb4e;
}