.Article-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  font-size: 1.1rem;
  padding: 0.3rem;
  margin: 0.2rem;
}

#article-subject {
  width: 60%;
  resize: none;
}

#article-body {
  width: 60%;
  resize: none;
  background-color: black;
  color: white;
}